* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body { 
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.top-line {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.5);
}

.left-line {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 100%;
    box-shadow: 8px 0 8px 0px rgba(0, 0, 0, 0.5);
}

.import-export-container img {
    margin-top: 25%;
    height: 40%;
    width: auto;
}

.import-export-container img:hover {
    margin-top: 20%;
    height: 50%;
    width: auto;
}

.save-experiment-button {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: transparent;
    right: 10%;
    top: 0;
}

.upload-experiment-button {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: transparent;
    right: 15%;
    top: 0;
}

.new-experiment-button {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: transparent;
    right: 20%;
    top: 0;
}

.tree-container {
    position: absolute;
    top: 0;
    width: 90%;
    height: 70%;
    background-color:rgb(92, 92, 92);
}

.tree-container rect {
    cursor: pointer;
}

.tree-container text {
    cursor: pointer;
}

.tree-container circle {
    cursor: pointer;
}

.tree-container image {
    cursor: pointer;
}

.where-am-i-container {
    position: absolute;
    top: 0;
    left: 90%;
    height: 70%;
    width: 10%;
    background-color:rgb(70, 70, 70);
    box-shadow: -8px 0 8px 0px rgba(0, 0, 0, 0.5);
}

.where-am-i-container rect {
    cursor: pointer;
}

.where-am-i-container text {
    cursor: pointer;
}

.input-container {
    position: absolute;
    top: 70%;
    width: 60%;
    height: 30%;
    font-family: Helvetica;
    background-color: black;
    color: cornsilk;
    overflow: auto;
    scrollbar-color: rgb(155, 155, 155) rgb(53, 53, 53);
    scrollbar-width: thin;
    box-shadow: 0 -8px 8px 0px rgba(0, 0, 0, 0.5);
}

.input-alert {
    position: relative;
    left: 10%;
    width: 80%;
    height: auto;
    margin-top: 5px;
    background-color: rgb(100, 0, 0);
}

.input-header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.input-field-container {
    position: relative;
    width: 100%;
    height: auto;
    text-align: start;
    padding: 3%;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.input-field label {
    font-size: large;
}

.input-field input {
    padding: 5px;
    margin-top: 8px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    background-color: darkgray;
}

.clear-input-button {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-bottom: 15px;
    right: 80%;
    background-color: gray;
}

.radio-label {
    text-align: left;
}

.input-field label input {
    margin-right: 5px;
}

.input-controls-container {
    position: absolute;
    top: 0;
    right: 0;
}

.input-delete-button {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.input-save-button {
    position: absolute;
    top: 8px;
    right: 35px;
    width: 25px;
    height: 25px;
}

.input-controls-container img {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15%;
    cursor: pointer;
}

.input-controls-container img:hover {
    padding: 0;
}

.info-container {
    position: absolute;
    top: 70%;
    left: 60%;
    width: 40%;
    height: 30%;
    background-color: black;
    box-shadow: 0 -8px 8px 0px rgba(0, 0, 0, 0.5);
}