* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

.hidden {
    display: none;
}

.tree-container {
    position: absolute;
    width: 90%;
    height: 70%;
    background-color:rgb(92, 92, 92);
}

.tree-container rect {
    cursor: pointer;
}

.tree-container text {
    cursor: pointer;
}

.tree-container circle {
    cursor: pointer;
}

.where-am-i-container {
    position: absolute;
    left: 90%;
    height: 70%;
    width: 10%;
    background-color:rgb(80, 80, 80);
}

.where-am-i-container rect {
    cursor: pointer;
}

.where-am-i-container text {
    cursor: pointer;
}

.input-container {
    position: absolute;
    top: 70%;
    width: 60%;
    height: 30%;
    background-color: black;
    text-align: center;
    color: cornsilk;
    overflow: auto;
    scrollbar-color: rgb(155, 155, 155) rgb(53, 53, 53);
    scrollbar-width: thin;
}

.input-header {
    position: relative;
    width: 100%;
}

.input-fields-container {
    position: relative;
    width: 100%;
    height: auto;
    text-align: start;
}

.input-field {
    margin: 2%;
}

.input-field label {
    margin-left: 5px;
}

.input-field input {
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    background-color: darkgray;
}

.input-controls-container {
    position: absolute;
    top: 0;
    right: 0;
}

.input-delete-button {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.input-save-button {
    position: absolute;
    top: 8px;
    right: 35px;
    width: 25px;
    height: 25px;
}

.input-controls-container img {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15%;
    cursor: pointer;
}

.input-controls-container img:hover {
    padding: 0;
}

.info-container {
    position: absolute;
    top: 70%;
    left: 60%;
    width: 40%;
    height: 30%;
    background-color: rgb(36, 44, 39);
}